/*Project Part 3: Home Page Styles*/
:root {
    --primaryColor:black;
    --secondaryColor: #808080;
    --thirdColor: green;
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#main-header {
    background-color: var(--primaryColor);
    display: flex;
    flex-direction: row; /* to display in row*/
    gap: 30px; /* put space in between contents in header*/
    align-items: center;
    justify-content: space-evenly;
    
}

#content {
    background-color: white;
    display: flex;
    flex-direction: row;
    min-width: 100vh;
}



#Title {
    background-color: var(--secondaryColor);
    width:max-content;
    height: max-content;
    padding: 10px 20px;
    display: block;
}

#search-bar-part {
    background-color: var(--primaryColor);
    
}

#title-link a {
    text-decoration: none;
    color: var(--secondaryColor)


}

#button-list nav {
    justify-content: right;
    
}

#button-list nav ul {
    display: flex;
    justify-content: flex-start;
    gap: 60px; /*space Settings and Logout*/


}

#button-list a {
    text-decoration: none;
    color: var(--secondaryColor)


}

/*Navigation to other pages*/

#page-changer {
    background-color: var(--thirdColor);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: fit-content;
}

#page-changer ul {
  list-style: none;
  display: block;
  padding: 10px 20px;
  gap: 10px;
  
}

#page-changer li {
  
  display: block;
  padding: 10px 20px;
  
}

#page-changer nav a {
   text-decoration: none;
   color: var(--primaryColor);
   padding: 5px;
}

#page-changer a:hover{
   text-decoration: none;
   color: white;
   background: var(--primaryColor);
}

/* Home Page*/
#main-area {
   flex: 1;
   display: flex;
   flex-direction: column;
   /* justify-content: space-evenly; */
   /* padding: 20px; */
   width: fit-content;
   
   
}

.main-header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
   
    gap: 100px;
    background: rgb(168, 139, 139);


}

.second-area {
    /* flex: 1;  */
    display: flex;
    flex-direction: row;
    height: fit-content;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: var(--secondaryColor);
    padding: 20px;
    font-weight: bold;
}

/*Database Page*/
#database {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 5px;
}

.filter-sort {
    background-color: var(--secondaryColor);
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    gap: 10px; 
}

.filter-sort nav {
    
  text-align: center;
  align-items: center;
 
}
.filter-sort ul {
    text-align: left;
     
}

.filter-sort li {
    list-style: none;
   justify-content: center;
   display: block;
   padding: 5px;
    
    
}

.filter-sort a {
    text-decoration: none;
    color: black;
    
}

.filter-sort a:hover{
    background: yellow;
    
}

#buttonsForPages {
   text-align: center;
}

/*Database Table*/
#database {
    gap: 20px;
    display:flex;
   
}
.database-table  {
   width: 100vh;
   text-align: center;
   justify-content: center;
    margin: 50px;
    
}

.database-table table {
   width: 100%;
   border-collapse: collapse;
   
   
}

.database-table th, td {
    border: 1px solid;
    padding: 5px;
}

.database-table th  {
   height:fit-content;
   padding: 5px 5px;
   
}

.database-table button  {
   display: flex;
   flex-direction: column;
   
   
   
}

/*Add or Edit Page*/
#change-modes {
    display: flex;
    flex-direction: column;
    margin: 10px;
    height:fit-content;
    
    align-items: center;
}

.a-e-buttons button {
    flex-direction: row;
    font-size: 30px;
    padding: 20px;
    width: 80vh;

}

.description .dummy-app-ratio {
    align-items: left;
}

.dummy-app-ratio {
    
    width: fit-content;
    height: fit-content;
}

#app-form {
    align-items: right;;
}

.form-group {
    display:flex;
    justify-content: space-evenly;
    align-items: right;

}

/*Prospect List Page*/
#savedList {
    background: var(--secondaryColor);
    
}
#savedList li {
   list-style: none;
   padding: 5px;
}

#savedList a {
    text-decoration: none;
    color: black;
}

#savedList a:hover {
    text-decoration: none;
    color: black;
    background-color: white;
}

#currentList h2, h3{
    display: flex;
    flex-direction: row;
}

#currentList h3 {
    align-items: right;
}

.ListTable {
    
    margin-top: 70px;
}

/*About Contact Page*/
#contact {
  flex: 1;
  display: flex;
  justify-content: space-between;
  
}

/* Make each column take up 1/3 of the row */
#contact > div {
  flex: 1;
  padding: 15px;
  
}

#contact img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
}

.Why {
    background-color: rgb(190, 189, 189);
}

.About-Me {
    background-color: rgb(134, 134, 134);

}

.Feedback {
    background-color: rgb(90, 89, 89);
}

.Feedback #social-nav a {
   display: flex;
   flex-direction: column;
}


.Feedback #social-nav a {
   text-decoration: none;
   font-size: 40px;
   color: black;
}

.Feedback #social-nav a:hover {
   color:white;
}



/* 
 border-top: black;
    border-left: black;
    border-right: black;
    border-bottom:black;
*/


