/*Assignment 3 Styles Sheet*/
body {
    background: beige;
    font-family: Arial, Helvetica, sans-serif;
}

#content { /*everything above the ^body^ background */
    width: 95%;
    margin: auto;
    border-radius: 5px;
    padding: 5px;
}

.columns {
    display: flex;
    justify-content: center;
    gap: 50px;
}


/*Idea List*/
#idea-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
}

.one-idea { 
    background: white; 
    flex: 1; /* allows multiple idea boxes to fit evenly */
    padding: 10px;
    border: 1px solid rgb(155, 155, 127);
    
}

.one-idea .columns {
   display: flex;
   align-items: center;
   gap: 10px;
}

/* #main-content section, #main-content aside {
    padding:5px;
} */


/*Main Navigation*/


#main-nav ul { /*Home, About, Stuff, Account*/
    list-style-type: none;  /* remove the bullets */
    padding-left: 0;
    display:flex; /*lines them across the screen*/
    width: 100%;
    
}

#main-nav li {
    flex: 1; /*this fills main nav horizontally evenly where you get class*/
    text-align: center;
    border-top: 1px solid black ;
    border-left: 1px solid black ;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    background-color: white;
    
}

#main-nav a {
    display: block;
    background-color:  rgb(121, 75, 75);
    color: white;
    text-decoration: none; /*remove the underlines*/
    padding:10px 5px;
    
}
#main-nav a:hover {
    background: white;
    color:black;

}

/*Seconday Nav*/


.one-nav {
  flex: 1;
  background:rgb(121, 75, 75);;
  padding: 15px;
  text-align: center;
  height: fit-content; /*make nav box be as big as contents*/
  
  
}

#secondary-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}


#secondary-nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

#articles-wrapper {
    display: flex; /* puts nav beside articles */
    gap: 20px;
    margin-top: 20px;
}

/*Articles*/
#articles {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}

.one-article {
    flex: 1 1 300px; /* flexible width, min 300px */
    background: white;
    padding: 10px;
    border: 1px solid #cd8d8d;
}

/* Gallery */





/*Typography*/
h1 {
    text-align: center;

}

/* Larger devices */
@media only screen and (min-width: 320px) {
    body {
        
    }

    #content {
        width:70%;
    }

    /* Columns */
    .columns {
        display:flex;
    }

    .one {
        flex:1;
    }

    .two {
        flex:2;
    }

    .three {
        flex:3;
    }

    .four {
        flex:4;
    }

    .five {
        flex:5;
    }



}