/*Assignment 3 Styles Sheet*/
body {
    background: beige;
    font-family: Arial, Helvetica, sans-serif;
}

#content { /*everything above the ^body^ background */
    width: 95;
    margin: auto;
    border-radius: 5px;
    padding: 5px;
}

.columns {
    display: flex;
    justify-content: center;
    gap: 50px;
}



.one-idea {
  /* flex: 1 1 300px;
  max-width: 300px;
  margin: 0 10px; */
    background: white;
  width: 100%;
}

.one-idea .columns { /*to line the things inside the section/box up*/
        
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}

#idea-list.columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px; /* space between ideas */
}

/* #main-content section, #main-content aside {
    padding:5px;
} */


/*Main Navigation*/


#main-nav ul { /*Home, About, Stuff, Account*/
    list-style-type: none;  /* remove the bullets */
    padding-left: 0;
    display:flex; /*lines them across the screen*/
    width: 100%;
    
}

#main-nav li {
    flex: 1; /*this fills main nav horizontally evenly where you get class*/
    text-align: center;
    border-top: 1px solid black ;
    border-left: 1px solid black ;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    background-color: white;
    
}

#main-nav a {
    display: block;
    background-color:  rgb(121, 75, 75);
    color: white;
    text-decoration: none; /*remove the underlines*/
    padding:10px 5px;
    
}
#main-nav a:hover {
    background: white;
    color:black;

}

/*Seconday Nav*/


aside.one {
    background: rgb(145, 108, 108);
   

}

#secondary-nav {
  margin-top: 20px; /* space below idea list */
  text-align: center;
}

#secondary-nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

#secondary-nav li {
  margin: 0 15px;
}

#secondary-nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}



#secondary-nav ul {
    display: flex; 
    list-style-type: none;
}

/*Typography*/
h1 {
    text-align: center;

}

/* Larger devices */
@media only screen and (min-width: 320px) {
    body {
        
    }

    #content {
        width:70%;
    }

    /* Columns */
    .columns {
        display:flex;
    }

    .one {
        flex:1;
    }

    .two {
        flex:2;
    }

    .three {
        flex:3;
    }

    .four {
        flex:4;
    }

    .five {
        flex:5;
    }



}