/*Assignment 4 Recreating USC Webpage https://sc.edu/study/colleges_schools/artsandsciences/*/
:root {
    --black:black;
    --garnet:#75000A;
    --white: white;
}

body {
    background:var(--white);
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    color: var(--white);
    
}

.top-bar {
    display: grid;
    background-color: black;
    grid-template-columns: auto, auto 1fr;
    
    grid-template-rows:auto, auto;
    border: 2px dashed darkcyan;
    align-items: center;
    /* gap: 20px; */
    color: white;
    /*padding: 10px ; /* space inside bar */
    width: 100%; /* full width, responsive */

   
}

.top-bar > * { /*to see elements inside the top bar*/
    border: 1px solid lawngreen;
}


.top-bar img {
    /* justify-self:flex-start; */
    width: auto;
    /* height: auto; */
    grid-column: 2/4; 
    grid-row: 2/2;
    gap: 20px;
    /* padding-right: 10px; */
    /* solute;   */
    


}

/*Navs in General*/

nav ul {
    list-style-type: none; /*removes bullets from ALL list*/
    
    
    
}

nav a {
    text-decoration: none; /*removes underline from ALL links in list*/
     
    
}

/*Main Nav at the very top*/

.main-nav {
    grid-column: 1/4;
    grid-row: 1;
    padding-left: 20%;
    font-size:8px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    /* solute;  */
    /* border-right: 1px solid white; */
   
}

.main-nav ul {
  display: flex;
  justify-content: flex-end; /* pushes links to the right */
  gap: 20px;
  
}


.main-nav a {
    color: var(--white);
    
}

.main-nav a:hover {
    background: red;
    color: var(--white);

}

.main-nav li:not(:last-child)::after { 
    content:" |";
    margin-left: 10px; /*to put space between pipe and text*/
        
}

/*USC Logo + School Name*/

.logo_text {
    display: flex;
    flex-direction: column;
    /* solute;   */
    margin: 0;
    color: var(--white);
    width: fit-content;
    grid-column: 2;
    grid-row: 2;
    
}

.logo_text #UOF {
    font-size: 12px;
    margin: 0;
    
}


.logo_text  #SC {
    font-size: 18px;
    margin: 0;
    font-weight: bold;
}

#college {
    font-size: 18px;
    grid-column: 3;
    grid-row: 3;
    display: flex;
    justify-content: flex-start;
    width: fit-content;
     color: var(--white);
}
   

#second-nav {
    display: grid;
    grid-template-columns: auto, auto 1fr;
    grid-template-rows:auto;
    border: 2px dashed darkcyan;
    background-color: var(--garnet);
    color: var(--white);
    
    
}

#second-nav nav {
    display:flex;
    justify-content: flex-start; /* pushes links to the left */
    grid-column: 3;

}

#second-nav ul {
    display: flex;
    gap: 20px;
}

#second-nav a {
    color: var(--white);
    font-size: 10px;
    font-weight: bold;
    display: block;

}



#second-nav li a{
    display: block;
    padding: 5px;
}

#second-nav li a:hover {
    background-color: #4a0006;

}

/*First Picture*/
.first-pic {
    position:relative;
    
}

.first-pic #text-over-pic {
    position: absolute;
    top: 600px;
    background-color: #E7E4E2;
    color: var(--garnet);
}

/*First Paragraph after First Pic*/

.first-paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center; /* center the text horizontally*/
    align-items: center; /* center the text vertically*/
    background-color: var(--white);
    color: var(--black);
    height: 220px;
    /* padding: 20px; */
    
}

.first-paragraph p {
    font-weight: bold;
    line-height: 1.5;
    max-width: 63ch; /* Limits the width to about 60 characters */
    
}

.first-paragraph > * { /*to see elements inside the top bar DELTE ME LATER*/
    border: 1px solid lawngreen;
}

/*Prepared For Future & Pic Section*/

.PreparedForFuture_Image {
    background-color: var(--garnet);
    display: grid;
    grid-template-columns: 1fr, 1fr;
    /* grid-template-rows:auto, auto; */
    gap: 20px; /*space between text and inmage*/
    align-items: center;
}

.PreparedForFuture_Image h2 {
    text-align: start;

}

.PreparedForFuture_Image #Text {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    grid-column: 1;
    justify-self: end;
    text-align: right;
    margin: 0;
    

}

.PreparedForFuture_Image p {
    max-width: 75ch;
    text-align: start;
    font-size: 12px;
    line-height: 1.5;
}

.PreparedForFuture_Image button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    width: fit-content;
}

.PreparedForFuture_Image button:hover {
    background-color: var(--white);
    color: var(--garnet);

}

.PreparedForFuture_Image img {
    display: flex;
    grid-column: 2;
    justify-self: end;
}
/* Find a Program Section */

.Find-A-Program {
    display: flex;
    flex-direction: column;
    background-color:#EDEDED ;
    align-items: center;

}

.Find-A-Program h2 {
    color: var(--garnet);

}

.Find-A-Program p {
    font-size: 10px;
    color: var(--black);
    max-width: 80ch;
    line-height: 1.5;
    text-align: center;

}

.Find-A-Program nav ul {
  display: flex;
  justify-content: flex-start; 
  gap: 20px;

}

.Find-A-Program nav li {
    background-color: var(--garnet);
    

}

.Find-A-Program  li a {
    display: block;
    padding: 10px 15px;   /*adds more paddding to click*/


}

.Find-A-Program nav a {
    color: white;
    font-size: 12px;
    font-weight: bold;


}

.Find-A-Program nav a:hover {
    color: var(--garnet);
    background-color: var(--white);


}

/*Floating Block To the Right*/

.Impacting-SC {
    background: white;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%; /*Stretch the length of the page*/
   
   
}

.Impacting-SC img{
    position: relative;
   
}

.Impacting-SC #Text {
    background-color: var(--black);
    padding: 20px;
    position: absolute;
    top: 2600px;
    left:1100px;
   
}

.Impacting-SC p {
    font-size: 12px;
    line-height: 1.5;
    max-width: 78ch;

}

.Impacting-SC nav li {
    background-color: var(--garnet);
    width: fit-content;
    justify-content: left;

}

.Impacting-SC  li a {
    display: block;
    padding: 10px 15px;   /*adds more paddding to click*/


}

.Impacting-SC nav a {
    color: white;
    font-size: 12px;
    font-weight: bold;


}

.Impacting-SC nav a:hover {
    color: var(--garnet);
    background-color: var(--white);
    font-size: 12px;
    font-weight: bold;


}

.The-Quote {
    display:flex;
    flex-direction: row; /*puts image and text side by side*/
    background-color: var(--garnet);
    gap: 10px;
    align-items:center;
    justify-content: center;
    text-align: left;
    padding: 20px;

}

.The-Quote img {
    width:fit-content;
    border-radius: 100px; 
}

.The-Quote h4 {
    max-width: 80ch;

}

.The-Quote p {
   font-size: 11px;

}








@media only screen and (max-width: 768px) {
     
    .top-bar {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        text-align: center;
    }

    .main-nav {
        grid-column: 1;
    }

    #college {
        grid-column: 1;
        justify-self: center;
        white-space: normal;
    }

    .top-bar img {
        grid-column: 1;
        margin: 0 auto;
    }

    

    .main-nav li:not(:last-child)::after { 
        content:" |";
        margin-left: 10px; /*to put space between pipe and text*/
        
    }

    .logo_text {
        grid-column: 1;
    }

    .PreparedForFuture_Image {
        grid-template-columns: 1fr;
        display: flex;
    }

    .PreparedForFuture_Image #Text {
        grid-column: 1;
        justify-self: center;

    }

    .PreparedForFuture_Image img {
        grid-column: 1;
        margin: 0 auto;
    }



}
