/*Assignment 4 Recreating USC Webpage https://sc.edu/study/colleges_schools/artsandsciences/*/
:root {
    --black:black;
    --garnet:#75000A;
    --white: white;
}

body {
    background:var(--white);
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    color: var(--white);
    
}

.top-bar {
    display: grid;
    background-color: black;
    grid-template-columns: auto, auto 1fr;
    
    grid-template-rows:auto, auto;
    /* border: 2px dashed darkcyan; to outline of div */
    align-items: center;
    /* gap: 20px; */
    color: white;
    /*padding: 10px ; /* space inside bar */
    width: 100%; /* full width, responsive */

   
}

/*to see elements inside the top bar*/
/* .top-bar > * { 
    border: 1px solid lawngreen;
} */


.top-bar img {
    /* justify-self:flex-start; */
    width: auto;
    /* height: auto; */
    grid-column: 2/4; 
    grid-row: 2/2;
    gap: 20px;
    /* padding-right: 10px; */
    /* solute;   */
    


}

/*Navs in General*/

nav ul {
    list-style-type: none; /*removes bullets from ALL list*/
    
    
    
}

nav a {
    text-decoration: none; /*removes underline from ALL links in list*/
     
    
}

/*Main Nav at the very top*/

.main-nav {
    grid-column: 1/4;
    grid-row: 1;
    padding-left: 20%;
    font-size:8px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    /* solute;  */
    /* border-right: 1px solid white; */
   
}

.main-nav ul {
  display: flex;
  justify-content: flex-end; /* pushes links to the right */
  gap: 20px;
  
}


.main-nav a {
    color: var(--white);
    
}

.main-nav a:hover {
    background: red;
    color: var(--white);

}

.main-nav li:not(:last-child)::after { 
    content:" |";
    margin-left: 10px; /*to put space between pipe and text*/
        
}

/*USC Logo + School Name*/

.logo_text {
    display: flex;
    flex-direction: row;
    /* solute;   */
    margin: 0;
    color: var(--white);
    width: fit-content;
    grid-column: 2;
    grid-row: 2;
    gap: 8px;
    
    
}

.logo_text #UOF {
    font-size: 12px;
    margin: 0;
    max-width: 8ch;
    
}



#college {
    font-size: 18px;
    grid-column: 3;
    grid-row: 3;
    display: flex;
    justify-content: flex-start;
    width: fit-content;
     color: var(--white);
}
   

#second-nav {
    display: grid;
    grid-template-columns: auto, auto 1fr;
    grid-template-rows:auto;
    /* border: 2px dashed darkcyan; */
    background-color: var(--garnet);
    color: var(--white);
    
    
}

#second-nav nav {
    display:flex;
    justify-content: flex-start; /* pushes links to the left */
    grid-column: 3;

}

#second-nav ul {
    display: flex;
    gap: 20px;
}

#second-nav a {
    color: var(--white);
    font-size: 10px;
    font-weight: bold;
    display: block;

}



#second-nav li a{
    display: block;
    padding: 5px;
}

#second-nav li a:hover {
    background-color: #4a0006;

}

/*First Picture*/
.first-pic {
    position:relative;
    max-width: 100px;
    width: 100%;
    height: auto;
    
}

.first-pic #text-over-pic {
    position: absolute;
    top: 600px;
    background-color: #E7E4E2;
    color: var(--garnet);
    padding: 10px 10px;
    width: 600px;
    
}

.first-pic #text-over-pic h3 {
    float: right;
    
}

/*First Paragraph after First Pic*/

.first-paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center; /* center the text horizontally*/
    align-items: center; /* center the text vertically*/
    background-color: var(--white);
    color: var(--black);
    height: 220px;
    /* padding: 20px; */
    
}

.first-paragraph p {
    font-weight: bold;
    line-height: 1.5;
    max-width: 63ch; /* Limits the width to about 60 characters */
    
}

/*to see elements inside the top bar DELTE ME LATER*/
/* .first-paragraph > * { 
    border: 1px solid lawngreen;
} */

/*Prepared For Future & Pic Section*/

.PreparedForFuture_Image {
    background-color: var(--garnet);
    display: grid;
    grid-template-columns: 1fr, 1fr;
    /* grid-template-rows:auto, auto; */
    gap: 20px; /*space between text and inmage*/
    align-items: center;
}

.PreparedForFuture_Image h2 {
    text-align: start;

}

.PreparedForFuture_Image #Text {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    grid-column: 1;
    justify-self: end;
    text-align: right;
    margin: 0;
    

}

.PreparedForFuture_Image p {
    max-width: 75ch;
    text-align: start;
    font-size: 12px;
    line-height: 1.5;
}

.PreparedForFuture_Image ul {
   align-items: center;
}



.PreparedForFuture_Image a {
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    width: fit-content;
}

.PreparedForFuture_Image a:hover {
    background-color: var(--white);
    color: var(--garnet);

}

.PreparedForFuture_Image img {
    display: flex;
    grid-column: 2;
    justify-self: end;
    max-width: 100px;
    width: 100%;
    height: auto;
}
/* Find a Program Section */

.Find-A-Program {
    display: flex;
    flex-direction: column;
    background-color:#EDEDED ;
    align-items: center;

}

.Find-A-Program h2 {
    color: var(--garnet);

}

.Find-A-Program p {
    font-size: 13px;
    color: var(--black);
    max-width: 80ch;
    line-height: 1.5;
    text-align: center;

}

.Find-A-Program nav ul {
  display: flex;
  justify-content: flex-start; 
  gap: 20px;

}

.Find-A-Program nav li {
    background-color: var(--garnet);
    

}

.Find-A-Program  li a {
    display: block;
    padding: 10px 15px;   /*add more paddding to click*/


}

.Find-A-Program nav a {
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-top: 1px solid var(--garnet);
    border-left: 1px solid var(--garnet);
    border-right: 1px solid var(--garnet);
    border-bottom: 1px solid var(--garnet);


}

.Find-A-Program nav a:hover {
    color: var(--garnet);
    background-color: var(--white);


}

/*Lab Guy and Floating Block To the Right*/

.Impacting-SC {
    background: white;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%; /*Stretch the length of the page*/
   
   
}

.Impacting-SC img{
    position: relative;
    max-width: 100px;
    width: 100%;
    height: auto;
   
}

.Impacting-SC #Text {
    background-color: var(--black);
    padding: 20px;
    position: absolute;
    top: 2600px;
    left:1100px;
   
}

.Impacting-SC p {
    font-size: 12px;
    line-height: 1.5;
    max-width: 78ch;

}

.Impacting-SC nav li {
    background-color: var(--garnet);
    width: fit-content;
    justify-content: left;

}

.Impacting-SC  li a {
    display: block;
    padding: 10px 15px;   /*adds more paddding to click*/


}

.Impacting-SC nav a {
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;


}

.Impacting-SC nav a:hover {
    color: var(--garnet);
    background-color: var(--white);
    font-size: 12px;
    font-weight: bold;
    border-top: 1px solid var(--garnet);
    border-left: 1px solid var(--garnet);
    border-right: 1px solid var(--garnet);
    border-bottom: 1px solid var(--garnet);


}

/*The Quote*/

.The-Quote {
    display:flex;
    flex-direction: row; /*puts image and text side by side*/
    background-color: var(--garnet);
    gap: 10px;
    align-items:center;
    justify-content: center;
    text-align: left;
    padding: 20px;

}

.The-Quote img {
    width:fit-content;
    border-radius: 100px; 
}

.The-Quote h4 {
    max-width: 80ch;

}

.The-Quote p {
   font-size: 11px;

}

/*A Powerful Network of Connections*/

.A-Powerful-Network-Of-Connections {
    background-color: #1F404D;
    display: grid;
    grid-template-columns: 1fr, 1fr;
    /* grid-template-rows:auto, auto; */
    gap: 20px; /*space between text and inmage*/
    align-items: center;
}

.A-Powerful-Network-Of-Connections h2 {
    text-align: start;

}

.A-Powerful-Network-Of-Connections #Text {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    grid-column: 1;
    justify-self: end;
    text-align: left;
    margin: 0;
    

}

.A-Powerful-Network-Of-Connections p {
    max-width: 75ch;
    text-align: start;
    font-size: 12px;
    line-height: 1.5;
}

.A-Powerful-Network-Of-Connections ul {
    width: fit-content;
   

}

.A-Powerful-Network-Of-Connections a {
    background-color: var(--garnet);
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    width: fit-content;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.A-Powerful-Network-Of-Connections a:hover {
    background-color: var(--white);
    color: var(--garnet);
    border-top: 1px solid var(--garnet);
    border-left: 1px solid var(--garnet);
    border-right: 1px solid var(--garnet);
    border-bottom: 1px solid var(--garnet);

}

.A-Powerful-Network-Of-Connections img {
    display: flex;
    grid-column: 2;
    justify-self: end;
}

/*News Section*/

#news-header {
    color: var(--garnet);
    font-weight: bold;
    text-align: center;
    padding-top: 80px;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.News {
    display: flex;
    
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background-color: var(--white);
    margin-top: 80px;
}

.News section {
    display:flex ; /* flexible width, min 250px */
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: fit-content;
    /* gap: 20px; */
}

.News h4 {
    color: var(--garnet);
    font-weight: bold;

}

.News p {
    width: 300px;
    font-size: 14px;
    color: black;
    max-width: 75ch;
    text-align: start;
    line-height: 1.5;

}
.News nav {
    display: block;
}

.News ul {
    padding: 10px 10px;
}

.News li {
   display: block;
   
  
}

.News a {
   background-color: var(--garnet);
   color: var(--white);
    padding: 10px 10px;
    font-weight: bold;
    font-size: 10px;
    box-shadow: 0 1px 3px var(--garnet);
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.News a:hover {
    background-color: var(--white);
    color: var(--garnet);
    border-top: 1px solid var(--garnet);
    border-left: 1px solid var(--garnet);
    border-right: 1px solid var(--garnet);
    border-bottom: 1px solid var(--garnet);

}

/*Empowering Next Gen*/

.EmpoweringNextGen {
    background-color: var(--black);
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 60px;

}

.EmpoweringNextGen #Text {
    display: flex;
    grid-column: 1/2;
    justify-content: flex-end;
    flex-direction: column;
    justify-self: end;
    margin: 0;

}

.EmpoweringNextGen h2 {
   max-width: 21ch;
   font-size: 30px;
  

}

.EmpoweringNextGen p {
    max-width: 75ch;
    font-size: 12px;
}

.EmpoweringNextGen img {
    display: flex;
    grid-column: 2;
    flex-direction: row;
    align-items: right;
    max-width: 100px;
    width: 100%;
    height: auto;

}

.EmpoweringNextGen li {
    display: block;

}

.EmpoweringNextGen a {
    color: var(--white);
    background-color: var(--garnet);
    padding: 10px 10px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.EmpoweringNextGen a:hover {
    color: var(--garnet);
    background-color: var(--white);
    border-top: 1px solid var(--garnet);
    border-left: 1px solid var(--garnet);
    border-right: 1px solid var(--garnet);
    border-bottom: 1px solid var(--garnet);
    
}

/*Name and Socials*/

.NameAndSocials {
    background-color: #EDEDED;
    display: grid;
    grid-template-columns: 1fr, 1fr 1fr;
    justify-items: center;
    align-items: center;
    color: var(--garnet);
    grid-template-rows:auto, auto;
    padding:50px 50px ;

}

.NameAndSocials #Name {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
   
}

.NameAndSocials #MyMcCausland a {
    color: var(--white);
    background-color: var(--black);
    font-size: 10px;
    padding: 10px 10px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    box-shadow: 0 1px 3px var(--black);
}

.NameAndSocials #MyMcCausland a:hover {
    color: var(--garnet);
    background-color: var(--white);
    font-size: 10px;
    padding: 10px 10px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.NameAndSocials #Socials {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    grid-column: 2;
   
}

/* .NameAndSocials #Name, #Socials {
    display: flex;
   justify-content: flex-end;
    
   
} */




.NameAndSocials #Socials a {
    color: #75000A;
    text-decoration: none;
    font-size: 30px;
   
}

.NameAndSocials #bottom-nav ul {
   display: grid;
  /* justify-content: flex-end; /* pushes links to the right */
  grid-template-columns: repeat(2, 1fr); /*puts the links in seperate columns*/
    gap: 10px 30px; /* row and column gap */
    justify-items: center;
    grid-column: 1;
   
}

.NameAndSocials #bottom-nav a {
    color: var(--garnet);
    font-size: 12px;
    font-weight: bold;
     text-align: center;
   
}

.NameAndSocials #bottom-nav a:hover {
    color: var(--white);
    background-color: red;
   
   
}

.NameAndSocials #Petigru {
    grid-column: 3;
   
}

/*Before The Footer*/

.Before-Footer {
    background-color: var(--garnet);
   
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.7fr 2fr 0fr;
    /* grid-column-gap: 20px;
    grid-row-gap: 20px; */
    justify-items: center;
    align-items: center;
    /* gap: 20px; */
    
    /* border: 2px dashed darkcyan; */
}
/*to see elements inside the top bar*/ /*DELTE LATER*/
/* .Before-Footer > * { 
    border: 1px solid lawngreen;
} */

.Before-Footer div {
    width: fit-content;
    height: fit-content;
}

.Before-Footer h1, h3 {
    width: fit-content;
    height: fit-content;
    border-bottom: 1px solid white;
}

/* .Before-Footer img {
    grid-column: 1/2;
    grid-row: 1;
    justify-self: center;
} */

.Before-Footer #logo_text {
    grid-column: 1/2;
    grid-row: 1;
    display: flex;
    flex-direction: row; /*to stack title on list*/
    justify-self: center;
    max-width: 8ch;
    padding-top: 10px;
    gap: 8px;
}

.Before-Footer h5 {
    max-width: 30ch;
}


.Before-Footer #Socials {
    grid-column: 3;
    grid-row: 1;
}

.Before-Footer #Schools {
     grid-column: 1/2;
     grid-row: 2;
     justify-self: center; /*to align with center of row*/
     display: flex;
     flex-direction: column; /*to stack title on list*/
     font-size: 10px;
     width: 75%;

}

.Before-Footer #Schools ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 10px 30px; /* row and column gap */
    width: 100%; /* stretches the list to fill the container */
}



.Before-Footer #Offices-Divisions {
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
    display: flex;
    flex-direction: column; /*to stack title on list*/
    font-size: 10px;

}

.Before-Footer #Offices-Divisions ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns to make list stretch out */
    gap: 10px 30px; /* row and column gap */
    width: 100%; /* stretches the list to fill the container */
}

.Before-Footer #Tools {
    grid-column: 3;
    grid-row: 2;
    justify-self: center;
    display: flex;
    flex-direction: column; /*to stack title on list*/
    font-size: 10px;

}

.Before-Footer #Tools ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns to make list stretch out */
    gap: 10px 30px; /* row and column gap so they dont touch */
    width: 100%; /* stretches the list to fill the container */
}

.Before-Footer a {
    color: var(--white);
}

.Before-Footer a:hover {
    background-color: var(--white);
    color: red;
}

.Before-Footer #Socials a {
    text-decoration: none;
    font-size:40px;
}

/*Footer*/

.footer {
    background-color: var(--black);
    padding:0.5px 0.5px;
    font-size: 10px;
    
}

.footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;

}

.footer a {
    color: var(--white);


}

.footer a:hover {
    color: var(--white);
    background-color: red;


}

.footer li:not(:last-child)::after { 
    content:" |";
    margin-left: 10px; /*to put space between pipe and text*/
        
}



@media only screen and (max-width: 768px) {

    .content {
        width: 70%;
    }

    img {
        max-width: 80%;
    }
    .top-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .main-nav {
        order: 1;
        width: 100%;
    }
    
    .main-nav ul {
        flex-direction: column; /* stack instead of row */
        align-items: center;
        gap: 10px;
    }
    
    .logo_text {
        order: 2;
        text-align: center;
    }
    
    .logo_text img {
        margin: 0 auto;
        text-align: center;
    }
    
    
    #college {
        order: 3;
        width: 100%;
        text-align: center;
        font-size: 14px;
        margin-top: 5px;
    
    }
    
    #second-nav {
        order: 4;
        width: 100%;
    }
    
    #second-nav ul {
        flex-direction: column; /* stack nav items */
        align-items: center;
        gap: 10px;
    }

    .first-pic {
        display: flex;
        flex-direction: center;
        text-align: center;
        width: 100%;
    }
     
    /*A Powerful Network of Connections*/

    .PreparedForFuture_Image {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .PreparedForFuture_Image #Text {
        order: 1; /* text first */
        width: 100%;
        text-align: center;
    }
    .PreparedForFuture_Image img {
        order: 2; /* image second */
        width: 100%;
        margin: 0 auto;
    }

    .A-Powerful-Network-Of-Connections {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .A-Powerful-Network-Of-Connections #Text {
        order: 1; /* text first */
        width: 100%;
        text-align: center;
    }
    .A-Powerful-Network-Of-Connections img {
        order: 2; /* image second */
        width: 100%;
        margin: 0 auto;
    }

    /*News*/

    #news-header {
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    /*Empowering Next Gen*/

    .EmpoweringNextGen {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .EmpoweringNextGen #Text {
        order: 1; /* text first */
        width: 100%;
        text-align: center;
    }

    .EmpoweringNextGen img {
        order: 2; /* image second */
        width: 100%;
        margin: 0 auto;
    }

    /*Name and Socials*/

    .NameAndSocials {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .NameAndSocials #Name{
        order: 1; /* text first */
        width: 100%;
        text-align: center;
    }
    .NameAndSocials #MyMcCausland a {
        order: 2; /* image second */
        width: 100%;
        text-align: center;
    }

     .NameAndSocials #Socials {
        order: 3; /* image second */
        width: 100%;
        text-align: center;
    }

    .NameAndSocials #bottom-nav {
        order: 4; /* image second */
        width: 100%;
        text-align: center;
    }

    .NameAndSocials #Petigru {
       order: 5;
       width: 100%;
        text-align: center;
   
    }

    /*Before The Footer*/

    .Before-Footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Before-Footer #logo_text {
        order: 1; /* text first */
        width: 100%;
        text-align: center;

    }

    .Before-Footer #Socials {
        order: 2; /* text first */
        width: 100%;
        text-align: center;

    }

    .Before-Footer #Schools {
        order: 3; /* text first */
        width: 100%;
        text-align: center;

    }

    .Before-Footer #Offices-Divisions{
        order: 4; /* text first */
        width: 100%;
        text-align: center;

    }
    

    .Before-Footer #Tools{
        order: 5; /* text first */
        width: 100%;
        text-align: center;

    }

    /*Footer*/

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .footer ul {
        flex-direction: column; /* stack nav items */
        align-items: center;
        gap: 10px;
    }







    


}
