/*Assignment 4 Recreating USC Webpage https://sc.edu/study/colleges_schools/artsandsciences/*/
:root {
    --black:black;
    --garnet:#75000A;
    --white: white;
}

body {
    background:var(--white);
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    color: white;
    
}

#top-bar {
    background: black;
    width: 2313px;
    height: 115px;
    display: flex;
    position: relative; /* Makes it the ancestor */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* padding: 10px 20px; */
}

#top-bar img {
    width: auto;
    position: absolute;  
    left: 450px;
    top: 40px;


}




/*Navs in General*/



nav ul {
    list-style-type: none; /*removes bullets from ALL list*/
    
    
    
}

nav a {
    text-decoration: none; /*removes underline from ALL links in list*/
     
    
}



/*Main Nav at the very top*/

.main-nav {
    padding-left: 20%;
    font-size:8px;
    position: absolute; 
    /* border-right: 1px solid white; */
   
}

.main-nav ul {
  display: flex;
  justify-content: flex-end; /* pushes links to the right */
  gap: 20px;
  
}

/* .main-nav li {
    border-right: 1px solid white;

} */

.main-nav a {
    color: white;
    
}

.main-nav a:hover {
    background: red;
    color: white;

}

/*USC Logo + School Name*/
.logo_text {
    display: flex;
    flex-direction: column;
    position: absolute;  
    left: 500px;
    top: 40px;
}

.logo_text #UOF {
    font-size: 12px;
    margin: 0;
}


.logo_text  #SC {
    font-size: 18px;
    margin: 0;
    font-weight: bold;
}

#college {
    position: absolute;  
    font-size: 18px;
    left: 1000px;
    top: 40px;
}
    /* margin: 0; */
    /* white-space: nowrap; */




/* h1 {
    color: white;
} */

@media only screen and (min-width: 768px) {

    .main-nav {
        display: flex; /*Display in a line*/
        justify-content: space-between;
        
    }

    .main-nav li:not(:last-child)::after { 
        content:" |";
        margin-left: 10px; /*to put space between pipe and text*/
        
    }


}
