/*Assignment 9*/
:root {
    --main-background-color: #DBE2E9;
    --title-color: rgb(62, 62, 167);
    --subtitle-color: #d6435c;
    
}

body {
    background-color: var(--main-background-color);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    width: 100%;
    background-color: beige;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid var(--title-color);
    box-shadow: 0 2px 5px rgb(147, 147, 70);
    margin-top: 20px;
    
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

header {
    text-align:  center;
}

h1 {
    color: var(--title-color);
}

h2 {
    color: var(--subtitle-color);
}

p {
    color: var(--title-color);
}

footer {
    text-align: center;
    color:var(--title-color);
    padding: 20px;
}