/*Assignment 9*/
:root {
    --main-background-color: #DBE2E9;
    --title-color: rgb(62, 62, 167);
    --subtitle-color: #d6435c;
    
}

body {
    background-color: var(--main-background-color);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    width: 90%;
    background-color: beige;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid var(--title-color);
    box-shadow: 0 2px 5px rgb(147, 147, 70);
    margin-top: 20px;
    padding: 10px;
    
}

.w3-card-4 {
    display: flex;
    flex-direction: center;
    padding: 30px;
    width: fit-content;
    border-radius: 10px;
    background: #d9236f;
    background: radial-gradient(circle, rgba(217, 35, 111, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.w3-card-4 h3 {
    background-color: aliceblue;
    width: fit-content;
    align-items: center;
    font-weight: bold;
    padding: 5px;
     border-radius: 5px;
}

.w3-card-4 p {
    background-color: aliceblue;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;

}

.w3-display-topright {
    border-radius: 10px;
}

section {
    
    background: #EEAECA; /*https://cssgradient.io/*/
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    padding-bottom: 20px;
    border-radius: 10px;
    border: 2px solid var(--title-color);
   
   
}

section h2 {
    color: var(--title-color);
    font-weight: bold;
    background-color: aliceblue;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap:10px;
}

main img {
    
    border-radius: 5px;
    width: 75%;
}

main img:hover {
    cursor: pointer;
}


header {
    text-align:  center;
}

h1 {
    color: var(--title-color);
    font-weight: bold;
}

#subtitle {
    color: var(--subtitle-color);
     font-weight: bold;
}

p {
    color: var(--title-color);
}

footer {
    text-align: center;
    color:var(--title-color);
    padding: 20px;
}