/* CSS for CSCE242 Main Page */
/* Structure */
body {
    font-family:jetbrains-mono, 'Courier New', Courier, monospace;
    background: url("images_main/green_background.jpg");

}

#Content {
    background: lavenderblush;    
    margin: auto; /*centers it*/
    border-radius: 20px; /*rounded corners*/
    padding: 10px 10px; /*space inside border*/
    width: 95%; /*width of whole thing*/

}

#main-header {
    background: lightskyblue;
    color: white;
    border-radius: 5px;
    padding: 5px;

}

/*Main Navigation*/

#main-nav  {
    display: flex;
    list-style-type: none; /*remove bullet points*/
    padding-left: 0;
    /*flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;*/
   

}

#main-nav li {
    display: inline-block; /*display assignments side by side*/
    border-bottom: 1px solid rebeccapurple; /*underlines the Assignments*/
    margin-right: 30px;
}

#main-nav li {
    border-top:1px solid rebeccapurple; /*adds a top the Assignments*/
    margin: 10px 20px;
}

#main-nav a { /*Assignment Links themselves*/
    text-decoration: none; /*removes underline from links*/
    color: royalblue; /*colors of the Assignment links*/
    padding: 8px 16px;
    font-size: 18px;

}

#main-nav a:hover { /*when we hover over the assignment block*/
    background:white;
    color:#4F5902;
}

/*Typography*/

#CSCE242 {
    color: rebeccapurple;
    text-align: center; 
    font-size: 40px;
   
}

#Name {
    color: royalblue;
    text-align: left;
    font-size: 30px;
    
    
}


#Assignment_Header {
    color: rgb(85, 13, 228);
    text-align: center;
    font-size: 30px;
   
    
}

#columns {
      
    font-size: 30px;

}

#Assignment_1{
   
}

#Assignment_2{
   
    

}

#Assignment_3 {

}
    