/*Assignment 8*/
:root {
    --main-background-color: #DBE2E9;
    --title-color: rgb(62, 62, 167);
    --subtitle-color: #d6435c;
    --image-area-color:var(--subtitle-color);
    
}

body {
    background-color: var(--main-background-color);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    width: 100%;
    background-color: beige;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid var(--title-color);
    box-shadow: 0 2px 5px rgb(147, 147, 70);
    margin-top: 20px;
    
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/*Popup Style*/
.hidden {
    display: none;
}

#popup {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#popup-content {
    margin: auto;
    background-color: var(--main-background-color);
    border: 2px solid var(--title-color);
    border-radius: 10px;
    padding: 40px;
    position: relative;
}

#popup-content img {
    max-width: 100%;;
}

#close {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--subtitle-color);
}

main div {
    background-color: var(--image-area-color);
    border-radius: 10px;
    padding: 20px;
    width: fit-content;
    text-align: center;
}

img {
    height: 400px;
    width: auto;
}

.image-title {
    background-color: var(--subtitle-color);
}

header {
    text-align:  center;
}

h1 {
    color: var(--title-color);
}

h2 {
    color: var(--subtitle-color);
}

footer {
    text-align: center;
    color:var(--title-color);
    padding: 20px;
}