/*Assignment 7*/
:root {
    --main-background-color: white;
    --day-night-background-color: lightblue;
    --title-color: rgb(62, 62, 167);
    --subtitle-color: #d6435c;
    
}

body {
    background-color: var(--main-background-color);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    width: 100%;
    
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid var(--title-color);
    box-shadow: 0 2px 5px rgb(147, 147, 70);
    margin-top: 20px;
    
}

#draw-scene {
    cursor: pointer;
}

.scene {
    display: none;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 50px;
}

.sun {
    height: 100px;
    width: 100px;
    background-color: yellow;
    border-radius: 50%;
    margin: 20px;
    position: absolute;
    right: 50px;
    top: -80px;
}

.moon {
    display: none; /*will change when time changes*/
    height: 90px;
    width: 70px;
    background-color: black;
    border-radius: 50%;
    margin: 20px;
    position: absolute;
    right: 48px;
    top: -75px;
}

#cloud-tree {
    gap: 5px;
}

/*Cloud Source: https://codepen.io/jeyakarthika/pen/AappZV */
 /* body {
	background: #ACEAFF;
}  */

.clouds-in-row {
    display: flex;
    flex-direction: row;;
}

.cloud {
  align-items: center;
  height: 50px;
  width: 100px;
  background: linear-gradient(#dde4e9 5%, #d6f0fd 100%);
  border-radius: 100px;
  position: relative;
  margin: 40px auto;
}

/*Outline Parts of the Cloud*/
#cloud, #cloud:before, #cloud:after {
  border: 1px solid red;
}

.cloud:after, .cloud:before {
  content: "";
  position: absolute;
  background: #f2f9fed1;
  z-index: 0;
  box-shadow: 0 2px 2px #e8eef3;
}

.cloud:after {
  width: 25px;
  height: 25px;
  top: -21px;
  left: 45px;
  border-radius: 100px;
}

.cloud:before {
  width: 30px;
  height: 30px;
  top: -20px;
  right: 50px;
  border-radius: 200px;
}

.shadow {
  width: 300px;
  position: absolute;
  bottom: -10px;
  left: 20px;  
  background: #000;
  z-index: 0;
  -webkit-box-shadow: 0 0 25px 8px rgba(0,0,0,0.4);
  box-shadow: 5px 10px 25px 3px rgba(0,0,0,0.3);
  border-radius: 50%;
}

.trees-in-row {
    display: flex;
    flex-direction: row;
   
}

.tree {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*Circle*/
/*<!--https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_shapes_circle-->*/
.leaves { 
  height: 70px;
  width: 70px;
  background-color: green;
  border-radius: 50%;
  /* position: absolute; */
  bottom: 0;
  /* left: 15px; */
}


/*Rectangle*/
/*<!--https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_shapes_rectangle-->*/
.trunk {
 height: 25px;
  width: 50px;
  background-color: brown;
  rotate: 90deg;
  /* position: absolute; */
  top: 20px;
}

header {
    text-align:  center;
}

h1 {
    color: var(--title-color);
}

h2 {
    color: var(--subtitle-color);
}

footer {
    text-align: center;
    color:var(--title-color);
    padding: 20px;
}

@media only screen and (max-width: 768px) {

    #content {
        display: flex;
    }


}
