/*Assignment 6*/
:root {
    --main-background-color: #233D28;
    --title-color: #694A50;
    --subtitle-color: #E83151;
    --exercise-color: #233D28;
}

body {
    background-color: var(--main-background-color);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    width: 70%;
    background-color: beige;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid rgb(147, 147, 70);
    box-shadow: 0 2px 5px rgb(147, 147, 70);
    margin-top: 20px;
    
}

/* #exercise-menu nav {
    display: flex;
    flex-direction: row;
} */

header {
    text-align:  center;
}



#exercise-menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;

}

#exercise-menu li {
    display: inline;
}

#exercise-menu li + li::before { /*when placing pipe only targets the space between the list elements*/
    content: '|';
    margin-right: 10px;
    margin-left: 10px;
}

#exercise-menu a {
    text-decoration: none;
    color: var(--exercise-color);
    padding: 5px;
}

#exercise-menu a:hover {
    color: var(--subtitle-color);
    background-color: white;
}

#exercise-forms {
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background-color: rgb(210, 210, 137);
    border: 1px solid rgb(147, 147, 70);
    border-radius: 5px;
}

#menu-close,
#menu-open {
    display: none;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

#exercise-1-form {
   display: flex;
   margin-top:50px;
   flex-direction: column;
   align-items: center;
   gap: 5px;
   
}


#exercise-2-form {
   display: none;
   margin-top:50px;
   flex-direction: column;
   align-items: center;
   gap: 5px;
   
}



h1 {
    color: var(--title-color);
}

h2 {
    color: var(--subtitle-color);
}

footer {
    text-align: center;
    color:var(--title-color);
    padding: 20px;
}

@media (min-width: 769px) {
    #menu-close,
    #menu-open {
        display: none;
    }
}

@media only screen and (max-width: 768px) {

    #content {
        gap: 0px;
    }

    #exercise-menu {
        display: none;
    }

    #menu-close {
        display:flex; /*down triangle will show when nav is closed*/
        justify-content: flex-start;
        align-items: flex-start;
    }

    #menu-open {
        display:none; /*up triangle hidden until nav is open*/
    }

    #exercise-menu.open {
        display: block; /*adding open in js, when clicked it will show*/
    }


    #exercise-menu ul {
        display: flex;
        flex-direction: column; 
       justify-content: flex-start;
        align-items: flex-start; 
        padding: 0;
        margin-left: 5px;
        gap: 5px;
    }

    #exercise-menu li + li::before { 
        content: none;
    }

    #exercise-forms {
        padding: 2rem;
        max-width: 90%;
    }


}