body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* full screen height */
    margin: 0;
}

iframe {
    width: 80vw;     /* so it don't take up too much of the window*/
    height: 80vh;
    border: 2px solid #ccc; 
    border-radius: 8px;
}